body {
  background-color: #fffdf0;
}

.App {
  text-align: center;
}

.App .card {
  margin: auto;
  background-color: #cde3fc;
}

.card .card-header {
  background-color: white;
}

.card  img {
  width: 100px;
  margin: auto;
}
